html,
body {
    height: 100%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.container {
    padding: 0 18px;
}

%center-control {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.main-form {
    &.tight {
        padding: 0 25px;
    }

    h1 {
        font-weight: 500;
        @extend %center-control;
    }

    .control {
        height: 60px;
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 15px;
        @extend %center-control;

        &.submit {
            font-weight: 500;
        }
    }

    .group {
        margin-top: 26px;

        label {
            padding-left: 8px;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 0;
        }
    }

    .alert {
        border-radius: 15px;
        text-align: center;
        margin: 10px 0;
    }
}

.last-profiles {
    font-size: 18px;
    line-height: 21px;

    & > p {
        font-weight: 500;
        margin-bottom: 0;
    }

    ul {
        padding-left: 20px;

        a {
            color: #000000;
            text-decoration: underline;
        }
    }
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(209.36deg, #F3F3F3 0%, rgba(181, 181, 181, 0.7) 100%);
    z-index: -1;

    .footer {
        background-image: url("/static/svg/footer.svg");
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bottom-logo {
        position: absolute;
        bottom: 17px;
        width: 100%;
        text-align: center;
    }
}

header {
    h1 {
        @extend %center-control;
        padding-top: 45px;
        padding-bottom: 5px;
        font-style: italic;
        font-weight: 900;
        font-size: 28px;
        line-height: 33px;
    }
}