html,
body {
  height: 100%;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

#container {
  overflow-y: auto;
  height: calc(100% - 90px - 90px);
}
#container::-webkit-scrollbar {
  width: 20px;
}
#container::-webkit-scrollbar-button {
  display: none;
}
#container::-webkit-scrollbar-track-piece {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
#container::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 3px 5px;
}

.profile-grid select, .profile-grid, .main-italic, #ModalMenu .modal-dialog .modal-content h1, header h1, .main-form .control, h1 {
  font-size: 24px;
  line-height: 28px;
}

.main-italic, #ModalMenu .modal-dialog .modal-content h1, header h1, .main-form .control, h1 {
  text-align: center;
}

h1 {
  font-weight: 500;
}

.main-form {
  position: relative;
}
.main-form.tight {
  padding: 0 25px;
}
.main-form .control {
  height: 60px;
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
.main-form .control.submit {
  font-weight: 500;
}
.main-form .group {
  margin-top: 26px;
}
.main-form .group div {
  position: relative;
}
.main-form .group div .control-eye {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -38px;
  top: 15px;
  background-image: url("/static/svg/eye.svg");
}
.main-form .group div .control-eye.view {
  background-image: url("/static/svg/eye-view.svg");
}
.main-form .group label {
  padding-left: 8px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}
.main-form .alert {
  border-radius: 15px;
  text-align: center;
  margin: 10px 0;
}

.last-profiles {
  font-size: 18px;
  line-height: 21px;
}
.last-profiles > p {
  font-weight: 500;
  margin-bottom: 0;
}
.last-profiles ul {
  padding-left: 0;
  list-style: url("/static/svg/list-item.svg");
}
.last-profiles ul a {
  color: #000000;
  text-decoration: underline;
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(209.36deg, #F3F3F3 0%, rgba(181, 181, 181, 0.7) 100%);
  z-index: -1;
}
#background .footer {
  background-image: url("/static/svg/footer.svg");
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#background .bottom-logo {
  position: absolute;
  bottom: 17px;
  width: 100%;
  text-align: center;
}

header {
  padding-top: 45px;
  padding-bottom: 5px;
  height: 90px;
}
header h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
}
header h1 a {
  color: #000000;
}
header .navbar {
  position: absolute;
}
header .navbar .navbar-toggler {
  display: flex;
  border: none;
  padding: 0;
  position: relative;
  top: -13px;
}
header .navbar .navbar-toggler .navbar-menu {
  background-image: url("/static/svg/menu.svg");
  width: 40px;
  height: 40px;
}

#ModalMenu .modal-dialog {
  margin: 83px 18px 40px;
  max-width: none;
  max-height: calc(100% - 83px - 40px);
}
#ModalMenu .modal-dialog .modal-content {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
#ModalMenu .modal-dialog .modal-content .modal-body::-webkit-scrollbar {
  width: 20px;
}
#ModalMenu .modal-dialog .modal-content .modal-body::-webkit-scrollbar-button {
  display: none;
}
#ModalMenu .modal-dialog .modal-content .modal-body::-webkit-scrollbar-track-piece {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
#ModalMenu .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 3px 5px;
}
#ModalMenu .modal-dialog .modal-content h1 {
  font-weight: 500;
  margin: 17px 0 0 0;
  color: #000000;
}
#ModalMenu .modal-dialog .modal-content h6 {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #575757;
}

.main-italic {
  font-style: italic;
}

.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
  margin-bottom: 0;
}

footer {
  height: 30px;
}

.profile-grid {
  padding: 0 24px;
}
.profile-grid .row {
  margin-top: 13px;
  position: relative;
}
.profile-grid .row.selection {
  margin-top: 18px;
}
.profile-grid .row.selection::before {
  content: "";
  background-image: url(/static/svg/triangle.svg);
  width: 24px;
  height: 20px;
  position: absolute;
  left: -12px;
  top: 5px;
}
.profile-grid select {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  color: #000000;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  top: -0.25em;
}

.note-all {
  height: calc(100% - 45px);
}

.note-one {
  height: 100%;
}

.note-block {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;
  margin-bottom: 8px;
}
.note-block .note-one-datetime {
  position: absolute;
  top: 0;
  padding: 7px;
  width: 100%;
  text-align: right;
  font-size: 13px;
  line-height: 15px;
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
}
.note-block > textarea {
  width: calc(100% + 26px);
  background: none;
  padding: 10px 36px 10px 10px;
  resize: none;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  border: none;
}
.note-block > textarea.current {
  padding: 28px 36px 10px 10px;
}
.note-block > textarea:focus {
  outline: none !important;
}
.note-block > div, .note-block > textarea {
  margin-right: -26px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  scrollbar-color: #E5E5E5 #ffffff;
  border-radius: 15px;
}
.note-block > div::-webkit-scrollbar, .note-block > textarea::-webkit-scrollbar {
  width: 20px;
}
.note-block > div::-webkit-scrollbar-button, .note-block > textarea::-webkit-scrollbar-button {
  display: none;
}
.note-block > div::-webkit-scrollbar-track-piece, .note-block > textarea::-webkit-scrollbar-track-piece {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
.note-block > div::-webkit-scrollbar-thumb, .note-block > textarea::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 3px 5px;
}
.note-block > div.minify, .note-block > textarea.minify {
  overflow: hidden;
  margin-right: 0;
}
.note-block > div .note-none, .note-block > textarea .note-none {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.note-block > div .note-item, .note-block > textarea .note-item {
  padding-right: 7px;
}
.note-block > div .note-item.minify, .note-block > textarea .note-item.minify {
  padding-right: 0;
}
.note-block > div .note-item .note-datetime, .note-block > textarea .note-item .note-datetime {
  font-size: 12px;
  line-height: 15px;
  text-align: right;
}
.note-block > div .note-item .note-datetime.clear, .note-block > textarea .note-item .note-datetime.clear {
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 5px;
  background-color: #ffffff;
}
.note-block > div .note-item .note-item-text, .note-block > textarea .note-item .note-item-text {
  border-bottom: 1px solid #000000;
  padding: 15px 10px 0 32px;
  position: relative;
}
.note-block > div .note-item .note-item-text.minify, .note-block > textarea .note-item .note-item-text.minify {
  padding: 5px 12px;
}
.note-block > div .note-item .note-item-text a pre, .note-block > textarea .note-item .note-item-text a pre {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 0;
  overflow: hidden;
}
.note-block > div .note-item .note-item-text .remove_button, .note-block > textarea .note-item .note-item-text .remove_button {
  position: absolute;
  bottom: 50%;
  left: 4px;
  width: 24px;
  height: 24px;
}
.note-block > div .note-item .note-item-text .remove_button a, .note-block > div .note-item .note-item-text .remove_button p, .note-block > textarea .note-item .note-item-text .remove_button a, .note-block > textarea .note-item .note-item-text .remove_button p {
  position: relative;
  top: 50%;
  display: block;
}

#note-add {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  position: absolute;
  padding: 3px;
  top: -8px;
  right: -9px;
}

/*# sourceMappingURL=style.css.map */
