$header-height: 90px;
$footer-height: 30px;

html,
body {
    height: 100%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.container {
    padding: 0 18px;
    height: calc(100% - 90px - 90px);
}

%basic-control {
    font-size: 24px;
    line-height: 28px;
}

%center-control {
    @extend %basic-control;
    text-align: center;
}

h1 {
    font-weight: 500;
    @extend %center-control;
}

.main-form {
    $control-height: 60px;

    &.tight {
        padding: 0 25px;
    }

    .control {
        height: $control-height;
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 15px;
        @extend %center-control;

        &.submit {
            font-weight: 500;
        }
    }

    .group {
        margin-top: 26px;

        div {
            position: relative;

            .control-eye {
                $size: 30px;

                position: absolute;
                width: $size;
                height: $size;
                right: -8px - $size;
                top: $control-height / 2 - $size / 2;
                background-image: url("/static/svg/eye.svg");

                &.view {
                    background-image: url("/static/svg/eye-view.svg");
                }
            }
        }

        label {
            padding-left: 8px;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 0;
        }
    }

    .alert {
        border-radius: 15px;
        text-align: center;
        margin: 10px 0;
    }
}

.last-profiles {
    font-size: 18px;
    line-height: 21px;

    & > p {
        font-weight: 500;
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
        list-style: url("/static/svg/list-item.svg");

        a {
            color: #000000;
            text-decoration: underline;
        }
    }
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(209.36deg, #F3F3F3 0%, rgba(181, 181, 181, 0.7) 100%);
    z-index: -1;

    .footer {
        background-image: url("/static/svg/footer.svg");
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bottom-logo {
        position: absolute;
        bottom: 17px;
        width: 100%;
        text-align: center;
    }
}

header {
    padding-top: $header-height / 2;
    padding-bottom: 5px;
    height: $header-height;

    h1 {
        @extend %center-control;
        font-style: italic;
        font-weight: 900;
        font-size: 28px;
        line-height: 33px;

        a {
            color: #000000;
        }
    }

    .navbar {
        position: absolute;

        .navbar-toggler {
            display: flex;
            border: none;
            padding: 0;
            position: relative;
            top: -13px;

            .navbar-menu {
                background-image: url("/static/svg/menu.svg");
                width: 40px;
                height: 40px;
            }
        }
    }
}

#ModalMenu {
    .modal-dialog {
        margin: 83px 18px 40px;
        max-width: none;
        max-height: calc(100% - 83px - 40px);

        .modal-content {
            background: #FFFFFF;
            border: 2px solid #000000;
            box-sizing: border-box;
            border-radius: 15px;

            h1 {
                @extend %center-control;
                font-weight: 500;
                margin: 17px 0 0 0;
                color: #000000;
            }

            h6 {
                font-style: italic;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #575757;
            }
        }
    }
}

.main-italic {
    @extend %center-control;
    font-style: italic;
}

.alert {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

footer {
    height: $footer-height;
}

.profile-grid {
    @extend %basic-control;
    padding: 0 24px;

    .row {
        margin-top: 13px;
        position: relative;

        &.selection {
            margin-top: 18px;

            &::before {
                content: "";
                background-image: url(/static/svg/triangle.svg);
                width: 24px;
                height: 20px;
                position: absolute;
                left: -12px;
                top: 5px;
            }
        }
    }

    select {
        @extend %basic-control;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 15px;
        color: #000000;
        padding-bottom: 2px;
        padding-top: 2px;
        position: relative;
        top: -0.25em;
    }
}

.note-all {
    height: calc(100% - 45px);
}

.note-one {
    height: calc(100% - (45px + 60px));
}

.note-block {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;

    .note-one-datetime {
        position: absolute;
        top: 0;
        padding: 7px;
        width: 100%;
        text-align: right;
        font-size: 13px;
        line-height: 15px;
        background-color: #ffffff;
        border-radius: 15px 15px 0 0;
    }

    & > textarea {
        width: calc(100% + 26px);
        background: none;
        padding: 10px 10px + 26px 10px 10px;
        resize: none;
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        border: none;

        &.current {
            padding: 28px 10px + 26px 10px 10px;
        }

        &:focus {
            outline: none !important;
        }
    }

    & > div, & > textarea {
        margin-right: -26px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        height: 100%;
        scrollbar-color: #E5E5E5 #ffffff;

        &::-webkit-scrollbar {
            width: 20px;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track-piece {
            background: #FFFFFF;
            border: 2px solid #000000;
            box-sizing: border-box;
            border-radius: 15px;
        }

        &::-webkit-scrollbar-thumb {
            background: #E5E5E5;
            border: 2px solid #000000;
            box-sizing: border-box;
            border-radius: 15px;
            margin: 3px 5px;
        }

        .note-item {
            padding-right: 7px;

            .note-datetime {
                font-size: 12px;
                line-height: 15px;
                text-align: right;
            }

            .note-item-text {
                border-bottom: 1px solid #000000;
                padding: 15px 10px 0 32px;
                position: relative;

                a pre {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    margin-bottom: 0;
                }

                .remove_button {
                    position: absolute;
                    bottom: 50%;
                    left: 4px;
                    width: 24px;
                    height: 24px;

                    a, p {
                        position: relative;
                        top: 50%;
                        display: block;
                    }
                }
            }
        }
    }
}

