{% set page='edit_login' %}

{% extends 'base.html' %}

{% block content %}
    <form action="#" method="post" class="main-form tight">
        {{ form.hidden_tag() }}
        <h1>
            <span>
                НАСТРОЙКИ
            </span>
        </h1>
        <div class="group">
            {{ form.new_login.label }}
            {{ form.new_login(class="control") }}
            {% for error in form.new_login.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ error }}
                    </h6>
                </div>
            {% endfor %}
        </div>
        {% if message %}
            <div class="group">
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ message }}
                    </h6>
                </div>
            </div>
        {% endif %}
        <div class="group">
            {{ form.submit(type="submit", class="submit control") }}
        </div>
    </form>
{% endblock %}
