{% set page='edit_password' %}

{% extends 'base.html' %}

{% block content %}
    <form action="#" method="post" class="main-form tight">
        {{ form.hidden_tag() }}
        <h1>
            <span>
                НАСТРОЙКИ
            </span>
        </h1>
        <div class="group">
            {{ form.last_password.label }}
            <div>
                {{ form.last_password(class="control") }}
                <div class="control-eye view"></div>
            </div>
            {% for error in form.last_password.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ error }}
                    </h6>
                </div>
            {% endfor %}
        </div>
        <div class="group">
            {{ form.password.label }}
            <div>
                {{ form.password(class="control") }}
                <div class="control-eye view"></div>
            </div>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ error }}
                    </h6>
                </div>
            {% endfor %}
        </div>
        <div class="group">
            {{ form.password_2.label }}
            <div>
                {{ form.password_2(class="control") }}
                <div class="control-eye view"></div>
            </div>
            {% for error in form.password_2.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ error }}
                    </h6>
                </div>
            {% endfor %}
        </div>
        {% if message %}
            <div class="group">
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ message }}
                    </h6>
                </div>
            </div>
        {% endif %}
        <div class="group">
            {{ form.submit(type="submit", class="submit control") }}
        </div>
    </form>
{% endblock %}
