{% set page='login' %}

{% extends 'base.html' %}

{% block content %}
    <form action="#" method="post" class="main-form tight">
        {{ form.hidden_tag() }}
        <h1>
            <span>
                АВТОРИЗАЦИЯ
            </span>
        </h1>
        <div class="group">
            {{ form.login.label }}
            {{ form.login(class="control") }}
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ error }}
                    </h6>
                </div>
            {% endfor %}
        </div>
        <div class="group">
            {{ form.password.label }}
            <div>
                {{ form.password(class="control") }}
                <div class="control-eye view"></div>
            </div>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ error }}
                    </h6>
                </div>
            {% endfor %}
        </div>
        {% if message %}
            <div class="group">
                <div class="alert alert-danger" role="alert">
                    <h6>
                        {{ message }}
                    </h6>
                </div>
            </div>
        {% endif %}
        <div class="group">
            {{ form.submit(type="submit", class="submit control") }}
        </div>
        {% if last_logins %}
            <div class="last-profiles group">
                <p>
                    Последние профили:
                </p>
                <ul>
                    {% for last_login in last_logins %}
                        <li>
                            <a href="/login?login={{ last_login }}">
                                {{ last_login }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
{% endblock %}
