{% set page='notes' %}

{% extends 'base.html' %}

{% block content %}
    <div class="main-form tight h-100">
        <div id="note-add">
            <a href="/notes/new">
                <img src="/static/svg/add.svg" alt="Новая заметка">
            </a>
        </div>
        <h1>
            <span>
                ЗАМЕТКИ
            </span>
        </h1>
        <div class="note-block note-all">
            <div>
                {% for note in records %}
                    <div class="note-item" id="note-id-{{ note.id }}">
                        <div class="note-item-text">
                            <a href="/notes/{{ note.id }}">
                                <pre>{{ note.data_format(rows=3) }}</pre>
                            </a>
                            <div class="note-datetime">
                                {{ note.created_date_format }}
                            </div>
                            <div class="remove_button">
                                <p onclick="removeNote({{ note.id }});">
                                    <img src="/static/svg/remove.svg" alt="">
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/static/css/clear-scroll.min.css">
{% endblock %}
